html {
  scroll-behavior: smooth;
}

:target {
  scroll-margin-top: 80px;
}


a {
  font-weight: 500;
  color: var(--text-main);
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 0;
  padding: 7.5px;
  line-height: 0;
  background-color: transparent;
  cursor: pointer;
  transition: var(--transition);
}

button:hover {
  transform: scale(1.5);
  transition: var(--transition);
  background-color: transparent;
}

footer {
  border-top: 3px solid var(--border-color);
  padding: 2rem;
  text-align: center;
  background-color: var(--bg-color);
}

li {
  margin-bottom: 0.5rem;
  list-style: square;
}