.container {
    text-align: center;
    margin: 0 auto;
    padding: 2rem;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}


.navbar-container {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: var(--bg-color);
    border-bottom: 1px solid var(--text-main);
    z-index: 3;
}

.navbar-left {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    position: relative;
    background-color: var(--bg-inverted);
    color: var(--text-inverted);
    animation: beat 1.5s infinite;
}

.navbar-right {
    display: flex;
    gap: 1rem;
    align-items: center;
}


.card {
    padding: 1rem;
    border-top: 3px solid var(--border-color);
    border-bottom: 3px solid var(--border-color);
    text-align: left;
    position: relative;
}

.card-top {
    padding: 1rem;
    border: 3px solid var(--border-color);
    text-align: left;
    position: relative;
}

.card-header {
    text-align: left;
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.tag {
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding: 0.4rem;
    font-size: 0.9rem;
    font-weight: 350;
    background-color: var(--tag-color);
    color: var(--tag-text);
    min-width: fit-content;
    max-height: fit-content;
}

#icon-common {
    path {
        fill: var(--text-main);
    }
}

#icon-bg {
    fill: var(--text-main);
}

#icon-main {
    fill: var(--text-inverted);
}

.separator {
    text-align: center;
    width: 15%;
    margin: 2rem auto;
    border: 0;
    padding-top: 0.5rem;
    border-top: 3px solid var(--border-color);
}

.socials-container {
    display: flex;
    gap: 5px;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-bottom: 1em;
}

.project-card {
    padding: 1rem;
    border: 3px solid var(--border-color);
    ;

    img {
        filter: saturate(30%);
        width: 100%;
        transition: var(--transition);
    }

    img:hover {
        filter: revert;
        animation: 0.5s beat;
    }
}

.project-details {
    text-align: justify;
}

.experience-header-container {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.experience-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%
}

.experience-title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
}

.experience-subtitle {
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
}

.experience-details {
    text-align: justify;
}


.flicker {
    animation: flicker 0.8s infinite;
}

.text-animation-frame {
    display: grid;
    text-align: left;
    word-wrap: break-word;

    span,
    a {
        display: inline-block;
    }

    span,
    a:not(:last-child) {
        margin-right: 0.5em;
    }
}

.text-animation-foreground {
    grid-area: 1/1;
    z-index: 1;
}

.text-animation-background {
    grid-area: 1/1;
    z-index: 2;

    span,
    a {
        color: var(--text-inverted);
        clip-path: var(--animation-initial-polygon);
        background-color: var(--bg-inverted);
        animation: shake 0.7s infinite;
        transition: 0.3s;
        opacity: 0;
    }
}

.text-animation-background>span:hover,
a:hover {
    transition: 0.3s;
    opacity: 1;
}