@media (max-width: 768px) {
  .project-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media (max-width: 480px) {
  .navbar-container {
    justify-content: center;
  }

  .navbar-left {
    transition: var(--transition);
    display: none;
  }
}